@model Robots.Domain.Entities.User

@{
  ViewBag.Title = "Admin: Edit " + @Model.Name;
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
  // to turn off Client - side Validation. You can also disable it for all pages. (AF MVC5 pg 295)
  //HtmlHelper.ClientValidationEnabled = false;
  //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}

<div class="panel">

    <div class="panel-heading">
        <h3>Edit @Model.Name</h3>
    </div>

    @using (Html.BeginForm("EditUser", "Admin"))
    {
    <div class="panel-body">
        @Html.HiddenFor(m => m.UserID)
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "UserID":
                    // do nothing
                    break;
                default:
            <div class="form-group">
                <label>
                    @(property.DisplayName ?? property.PropertyName)
                </label>

                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                @Html.ValidationMessage(property.PropertyName)
            </div>
                    break;
            }
        }
    </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "Index", null, new
       {
           @class = "btn btn-default"
       })
        </div>
    }
</div>
