@using Robots.Domain.Entities
@model IEnumerable<Robots.Domain.Entities.Robot>
@{
  ViewBag.Title = "Admin: All Robots";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*Тут есть версия в html, есть версия через Razor.
PS просто лично мне очень нравится Razor в HTML*@

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Robots</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">

            <tr>
                @foreach (var property in typeof(Robot).GetProperties())
                {
                    <th class="text-center">@property.Name</th>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @foreach (var property in item.GetType().GetProperties())
                    {
                        if (property.Name == "Name")
                        {
                            <td>
                                @Html.ActionLink(item.Name, "EditRobot", new
                                {
                                    item.RobotID
                                })
                            </td>
                        }
                        else
                        {
                            <td class="text-center">@property.GetValue(item, null)</td>
                        }
                    }
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteRobot", "Admin"))
                        {
                            @Html.Hidden("RobotID", item.RobotID)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Delete"/>
                        }
                    </td>
                </tr>
            }

            @*<tr>
                <th class="text-center">ID</th>
                <th>Name</th>
                <th class="text-center">SSID</th>
                <th class="text-center">UserID</th>
                <th class="text-center">ModelConfig</th>
                <th class="text-center">SystemConfig</th>
                <th class="text-center">Program</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.RobotID</td>
                    <td>
                        @Html.ActionLink(item.Name, "EditRobot", new
                        {
                            item.RobotID
                        })
                    </td>
                    <td class="text-center">@item.SSID</td>
                    <td class="text-center">@item.UserID</td>
                    <td class="text-center">@item.ModelConfig</td>
                    <td class="text-center">@item.SystemConfig</td>
                    <td class="text-center">@item.Program</td>
                    <td class="text-center">@item.Status</td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteRobot", "Admin"))
                        {
                            @Html.Hidden("RobotID", item.RobotID)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Delete"/>
                        }
                    </td>
                </tr>
            }*@


        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a new Robot", "CreateRobot", null,
            new { @class = "btn btn-default" })
    </div>
</div>