@using System.ServiceModel.Security
@{
  HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
  FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
  string userName = ticket.Name != null ? ticket.Name : "";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-left">
            @Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "navbar-brand" })
            @Html.ActionLink("Redactor", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-right">
            @Html.ActionLink(userName, "Index", "Home", null, new { @class = "navbar-brand" })
            @Html.ActionLink("Logout", "SignOut", "Account", null, new { @class = "navbar-brand" })
        </div>
    </div>

    <div class="row panel">
        <div class="col-sm-3">
            @Html.Action("MenuPortSide", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8">
            @*The effect of applying both classes is that the div element will
                occupy all 12 columns in the grid by default and 8 columnswhen the
                screen is 768 pixels or wider.*@
            @RenderBody()
        </div>
    </div>
</body>

</html>